//@import "./base.scss";

$mainColor: #1f1800;
$secondColor: #4d4d4d;
$backgroundColor: #f4f4f4;
$yellowBG: #f7bd01;

:root {
    font-size: 16px;
    @media (max-width: 1140px) {
        font-size: 14px;
    }
    @media (max-width: 768px) {
        font-size: 12px;
    }
}

.wrapper {
    padding: 0 2rem;
    margin: 2rem auto;
    max-width: 1440px;
}

header {
    padding: 24px 0px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: red;
}
.main,
.footer {
    margin: 0 auto;
}
.menu-desktop {
    display: block;
}
.menu-desktop a {
    text-decoration: none;
    color: #1f1800;
    margin: 0px 16px;
}
.navigation {
    display: none;
    width: 100vw;
    height: 50px;
    position: relative;
    right: 0;
    z-index: 1;
    input {
        z-index: 2;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
    }
    div {
        display: none;
        ul {
            list-style-type: none;
            padding: 0;
            li {
                text-align: center;
                margin: 10px 0;
                border: 1px solid red;
                padding: 1rem 0;
                a {
                    text-decoration: none;
                    color: #1f1800;
                }
            }
        }
    }
    input:checked ~ div {
        display: block;
        position: absolute;
        top: 6rem;
        width: 100%;
        height: 80vh;
        background-color: #e7b000;
        z-index: 2;
    }
}
.btn-hamburger {
    position: relative;
    width: 50px;
    height: 100%;
    display: block;
    cursor: pointer;
}
.btn-hamburger > span {
    display: block;
    position: relative;
    top: 15px;
    height: 5px;
    background-color: #e7b000;
    z-index: 1;
}
.btn-hamburger > span::before,
.btn-hamburger > span::after {
    content: " ";
    width: 100%;
    height: 5px;
    background-color: #e7b000;

    z-index: 1;
}
.btn-hamburger > span::before {
    position: absolute;
    top: 10px;
}
.btn-hamburger > span::after {
    position: absolute;
    top: 20px;
}

.hero-wrapper {
    background-image: url("img/heroBackground.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: max-content;
    min-height: 100vh;
}
.hero-wrapper-inner {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.hero-text {
    margin: 0px 80px;
    width: 50%;
}
.hero-text > h1 {
    color: white;
    font-size: 48px;
    margin: 16px 0;
}
.hero-text > p {
    color: white;
    font-size: 24px;
    margin: 16px 0;
}
.hero-text > a {
    text-decoration: none;
    margin: 16px 0px;
    color: $mainColor;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding: 24px 16px;
    border-radius: 8px;
    background-image: linear-gradient(45deg, #e7b000, #f1c32d);
}
.about-us {
    background-color: $backgroundColor;
    background-image: url("/img/about-us-bg.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    padding: 5rem 1.8rem;
    .about-us-title {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        .about-us-text {
            flex: 1;
            h2 {
                font-size: 3rem;
                color: $mainColor;
            }
            p {
                font-size: 1.5rem;
                color: $secondColor;
            }
        }

        video {
            flex: 1;
            background-color: red;
        }

        @media (max-width: 1200px) {
            flex-direction: column;
            video {
                min-height: 33vw;
            }
        }
    }
    .cards {
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;

        .card {
            flex: 1 1 0%;
            // min-width: 345px;
            // max-width: min-content;
            border-radius: 1rem;
            border: 1px solid orange;
            padding: 1rem;
            background-color: white;
            transition: all 0.3s ease;
            cursor: pointer;
            &:hover {
                box-shadow: 5px 12px 4px #c6c2c2dd;
                transform: translateY(-10px);
            }
        }

        .card-title {
            display: flex;
            align-items: center;
            gap: 1rem;
            height: 55px;
            img {
                width: 55px;
                height: inherit;
            }
            h3 {
                color: $mainColor;
                margin: 0;
            }
            p {
                color: $secondColor;
                font-size: 1.3rem;
            }
        }
    }
}
.menu-projects {
    margin-top: 5rem;
    margin-bottom: 3.75rem;
    .yellow-line {
        display: inline-block;
        height: 2px;
        width: 10rem;
        border: 0px;
        background-color: yellow;
        margin: 0px;
        margin-right: 10px;
    }
    .projects-list {
        overflow-x: scroll;
        overflow-y: hidden;
        a {
            text-decoration: none;
            margin: 0 30px;
            color: $mainColor;
        }
    }
}
#slider {
    width: 1200px;
    max-width: 100%;
}
#slider input[type="radio"] {
    display: none;
}
#slider label {
    cursor: pointer;
    text-decoration: none;
}
#slides {
    padding: 10px;
    position: relative;
    z-index: 1;
}
#overflow {
    width: 100%;
    overflow: hidden;
}
.slide-content {
    width: 40%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 0;

    div {
        border: 1px solid green;
        padding: 15px;
        width: 150px;
        text-align: center;
    }
    h2 {
        font-weight: bold;
    }
    p {
        text-align: justify;
    }
    a {
        display: inline-block;
        width: 150px;
        height: 50px;
        background-color: #e7b000;
        padding: 15px;
        text-align: center;
    }
}
#slide1:checked ~ #slides .inner {
    margin-left: 0;
}
#slide2:checked ~ #slides .inner {
    margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
    margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
    margin-left: -300%;
}
#slide5:checked ~ #slides .inner {
    margin-left: -400%;
}
#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
    width: 500%;

    height: 300px;
}
#slides .slide {
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    float: left;
    img {
        width: 100%;
    }
}

#bullets {
    margin: 150px 0 0;
    text-align: center;
}
#bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ccc;
    margin: 0 10px;
}
#controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
}
#controls::before {
    content: "";
    display: inline-block;
    width: 60px;
    height: 2px;
    background-color: #e7b000;
}
#controls::after {
    content: "";
    display: inline-block;
    width: 60px;
    height: 2px;
    background-color: #e7b000;
}
@media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1) {
        margin: 0;
    }
    #slides {
        max-width: calc(100% - 140px);
        margin: 0 auto;
    }
}
.text {
    padding: 5rem 0;
    background-color: $yellowBG;
    h2 {
        text-align: center;
        font-size: 3rem;
        color: $mainColor;
    }
    p {
        text-align: center;
        font-size: 1rem;
        color: $secondColor;
        margin: 32px 0;
    }
    a {
        color: $mainColor;
        text-decoration: none;
        font-weight: bold;
        background-color: #1a1a1a;
        width: 245px;
        height: 60px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
}
.feedback {
    padding: 5rem 2rem;
    h2 {
        font-size: 3rem;
        color: $mainColor;
    }
    // .slider {
    margin: 30px 0;
    display: flex;
    width: 85rem;
    height: 13rem;
    //  .slide {
    border: 1px solid $yellowBG;
    width: 550px;
    padding: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    align-items: flex-start;
    color: $mainColor;
    .slide-text {
        h3 {
            margin: 0;
        }
        p {
            font-size: 1rem;
            color: $secondColor;
        }
    }
}
// }
//}
.form-block {
    background-color: $backgroundColor;
    padding: 4.25rem 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: space-between;
    .form {
        flex: 1 1 0%;
        h2,
        p {
            margin: 1rem 0;
        }
        .inputs {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 1rem;
            input {
                color: $secondColor;
                padding: 16px 8px;
                flex: 1 1 0%;
            }
        }
    }

    textarea {
        padding: 16px 8px;
        margin-top: 24px;
        display: block;
        resize: none;
        width: 100%;
        height: 100px;
    }
    a {
        margin-top: 2rem;
        color: $mainColor;
        text-decoration: none;
        font-weight: bold;
        background-color: $yellowBG;
        width: 245px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contacts {
        flex: 1 1 0%;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 2rem;
        h3 {
            font-size: 1.5rem;
            font-weight: bold;
        }
        div {
            flex: 1 1 0%;
        }
        span {
            display: block;
            margin: 24px 0;
            position: relative;
        }
        .tel::before {
            content: "";
            background-size: cover;
            display: inline-block;
            position: absolute;
            left: -25px;
            top: -3px;
            width: 25px;
            height: 25px;
            background-image: url("/img/icon-tel.png");
        }
        .mail::before {
            content: "";
            background-size: cover;
            display: inline-block;
            position: absolute;
            left: -25px;
            top: -3px;
            width: 25px;
            height: 25px;
            background-image: url("/img/icon-mail.png");
        }
        .address::before {
            content: "";
            background-size: cover;
            display: inline-block;
            position: absolute;
            left: -25px;
            top: -3px;
            width: 25px;
            height: 25px;
            background-image: url("/img/icon-address.png");
        }
        .time {
            margin-left: 24px;
        }
    }
}
footer {
    background-color: $mainColor;
    color: white;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    .menu-desktop {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .menu-desktop a {
        text-decoration: none;
        margin: 0.5rem 16px;
        color: white;
    }

    img {
        width: 50px;
        height: 50px;
    }
}
@media (max-width: 1120px) {
    .hero-text > h1 {
        font-size: 32px;
    }
    .hero-text > p {
        font-size: 23px;
    }
}
@media screen and (max-width: 768px) {
    .navigation {
        display: flex;
        justify-content: flex-end;
    }
    .form-block .contacts .time {
        margin-left: 0px;
    }
    .menu-desktop {
        display: none;
    }
    .hero-wrapper {
        height: 70vh;
    }
    .hero-wrapper-inner {
        min-height: 70vh;
    }
    .hero-text {
        margin: 0px 1rem;
        width: 70%;
    }
    .form-block {
        display: block;
    }
    .slide-content {
        width: 100%;
    }
    .slide-img {
        display: inline-block;
        width: 100%;
        height: auto;
    }
    #slides .slide {
        flex-flow: column nowrap;
    }
    .hero-wrapper {
        min-height: 70vh;
    }
    footer .menu-desktop {
        display: flex;
        flex-flow: column nowrap;
    }
}
@media all and (max-width: 768px) and (orientation: landscape) {
    .hero-wrapper {
        min-height: 120vh;
    }
}
@media screen and (max-width: 500px) {
    .hero-wrapper-inner {
        min-width: 100%;
    }
    .slide-content div {
        width: 110px;
    }
    .slide-content a {
        width: 110px;
        height: 35px;
    }
}
@media screen and (max-width: 430px) {
    .form-block {
        padding: 0rem 10px;
    }
    .hero-text {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    input:checked ~ .navigation div {
        left: -250px;
        width: 330px;
    }
    .hero-text {
        width: 100%;
    }
    .hero-text > h1 {
        font-size: 28px;
    }
    .hero-text > p {
        font-size: 18px;
    }
    .hero-text > a {
        display: block;
        text-align: center;
    }
    .form-block .contacts {
        flex-flow: column nowrap;
    }
    .form a {
        width: 100%;
    }
}
